<template>
  <div
    :style="`background-image: url('/nosotros.jpg');`"
    class="bg-cover bg-center h-screen w-full flex flex-col justify-center items-center tracking-wide"
  >
    <div class="absolute pin bg-gradient-bottom" />
    <!-- SWIPER IN SLIDER COMPONENT -->
    <div class="">
      <p class="rounded-lg uppercase text-white xl:text-4xl lg:text-3xl md:text-2xl text-xl text-center font-bold mb-3">
        {{ pageTitle }}
      </p>
    </div>
    <div
      class="flex justify-center items-center w-full"
    >
      <!-- SWIPER IN SLIDER COMPONENT -->
      <Slider
        :items="items"
        :render="__render"
        :swiperOption="swiperOption"
        :customStyle="customStyle"
        :customClassSwiper="customClassSwiper"
        :customClassRender="customClassRender"
        :btnMoveColor="btnMoveColor"
        :hasNuxtLink="hasNuxtLink"
        :customNuxtLink="customNuxtLink"
        style="max-width: 1200px"
      />
    </div>
  </div>
</template>

<script type="text/javascript">
import Slider from '~/components/general/SliderCustom.vue'
export default {
  components: {
    Slider
  },
  data() {
    return {
      pageTitle: 'Conócenos',
      offcanvas: true,
      // OPTIONS FOR THE SLIDER USED HERE
      customStyle:
        'height: 100%; border-radius: 0px; background-color: #00000059;',
      customClassSwiper: 'flex-col',
      customClassRender: 'self-center',
      hasNuxtLink: true,
      customNuxtLink: '',
      btnMoveColor: 'swiper-button-green',
      swiperOption: {
        loop: true,
        speed: 1000,
        slidesPerView: 2,
        spaceBetween: 0,
        // USED FOR AUTOPLAY: 1000 = 1s
        autoplay: {
          delay: 2000,
          disableOnInteraction: true
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet(index, className) {
            return `<span class="${className} swiper-pagination-bullet-green">
              </span>`
          }
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      items: [
        {
          title: '¿PORQUÉ USAR LINKEDIN?',
          imgShow: 'http://msmperu.com/images/NOSOTROS/nosotros_1.jpg',
          subtitle: 'Est ubi transferrem, legam ex voluptate ubi illum.',
          nuxtlink: {
            text: 'VER',
            ref: '/nosotros/porque-usar-linkedin'
          }
        },
        {
          title: 'CONOCE MÁS SOBRE MÍ',
          imgShow: 'http://msmperu.com/images/NOSOTROS/nosotros_2.jpg',
          subtitle:
            'Elit relinqueret pariatur anim incididunt, eu quo arbitrantur.',
          nuxtlink: {
            text: 'VER',
            ref: '/nosotros/conoce-sobre-mi'
          }
        },
        {
          title: '¿QUÉ HACEMOS?',
          imgShow: 'http://msmperu.com/images/NOSOTROS/nosotros_3.jpg',
          subtitle: 'Id sunt pariatur quibusdam non ipsum sempiternum.',
          nuxtlink: {
            text: 'VER',
            ref: '/nosotros/que-hacemos'
          }
        },
        {
          title: 'NUESTROS CLIENTES',
          imgShow: 'http://msmperu.com/images/NOSOTROS/nosotros_4.jpg',
          subtitle: 'Veniam occaecat litteris, nam quid ubi multos.',
          nuxtlink: {
            text: 'VER',
            ref: '/nosotros/nuestros-clientes'
          }
        }
      ]
    }
  },
  methods: {
    __render(item) {
      return (
        '<div class="flex flex-col justify-center items-center px-3 w-full mb-1 h-full">' +
        '<div class="w-full h-full flex flex-col justify-center items-center mb-4">' +
        '<p class="p-3 text-center text-white md:text-xl lg:text-2xl xl:text-3xl font-bold py-5">' +
        item.title +
        '</p>' +
        '<img src="' +
        item.imgShow +
        '" class="rounded-lg" style="max-height: 100%; max-width: 100%">' +
        '</div>' +
        // '<div class="flex flex-wrap justify-center items-center p-3">' +
        // '<p class="p-3 text-center text-white text-xl">' +
        // item.subtitle +
        // '</p>' +
        // '</div>' +
        '</div>'
      )
    }
  }
}
</script>

<style scoped>
/* BACKGROUND FOR THE PORTRAIT OF US*/
.btn-see {
  background-color: yellow;
  border-radius: 5px;
  /* border-color: black;
  border-width: 2px; */
  color: white;
}

.bg-gradient-bottom {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#000),
    color-stop(80%, transparent)
  );
  background-image: linear-gradient(0deg, #000, transparent 80%);
}
</style>
