/* Here there is all the fonts used by anycomponent or anyview. */
/* All you need to do is to add the files at static folder. After that you have to modify the file tailwind.js and nuxt.config.js */
/* latin */
@font-face {
  font-family: 'Gotham';
  font-weight: 800;
  src: url(../../static/fonts/Gotham/Gotham-Black.woff);
}

@font-face {
  font-family: 'Gotham';
  font-weight: 600;
  src: url(../../static/fonts/Gotham/Gotham-Bold.woff);
}

/* Customized text-responsive */
.text-custom-xxs{
  font-size: 10px;
}
.text-custom-xs{
  font-size: 12px;
}
.text-custom-sm{
  font-size: 14px;
}
.text-custom-base{
  font-size: 16px;
}
.text-custom-lg{
  font-size: 18px;
}
.text-custom-xl{
  font-size: 20px;
}
.text-custom-2xl{
  font-size: 22px;
}
.text-custom-3xl{
  font-size: 24px;
}
.text-custom-4xl{
  font-size: 26px;
}
.text-custom-5xl{
  font-size: 28px;
}
.text-custom-6xl{
  font-size: 30px;
}
.text-custom-7xl{
  font-size: 32px;
}
.text-custom-8xl{
  font-size: 34px;
}
.text-custom-9xl{
  font-size: 36px;
}
.text-custom-10xl{
  font-size: 38px;
}
.text-custom-xxl{
  font-size: 40px;
}
.text-custom-2xxl{
  font-size: 42px;
}

@media (min-width: 1400px) {
    .text-custom-xxs{
        font-size: 14px;
    }
    .text-custom-xs{
        font-size: 16px;
    }
    .text-custom-sm{
        font-size: 18px;
    }
    .text-custom-base{
        font-size: 20px;
    }
    .text-custom-lg{
        font-size: 22px;
    }
    .text-custom-xl{
        font-size: 24px;
    }
    .text-custom-2xl{
        font-size: 26px;
    }
    .text-custom-3xl{
        font-size: 28px;
    }
    .text-custom-4xl{
        font-size: 30px;
    }
    .text-custom-5xl{
        font-size: 32px;
    }
    .text-custom-6xl{
        font-size: 34px;
    }
    .text-custom-7xl{
        font-size: 36px;
    }
    .text-custom-8xl{
        font-size: 38px;
    }
    .text-custom-9xl{
        font-size: 40px;
    }
    .text-custom-10xl{
        font-size: 42px;
    }
    .text-custom-xxl{
        font-size: 44px;
    }
    .text-custom-2xxl{
        font-size: 46px;
    }
}

@media (max-width: 1100px) {
    .text-custom-xxs{
        font-size: 10px;
    }
    .text-custom-xs{
        font-size: 12px;
    }
    .text-custom-sm{
        font-size: 14px;
    }
    .text-custom-base{
        font-size: 16px;
    }
    .text-custom-lg{
        font-size: 18px;
    }
    .text-custom-xl{
        font-size: 20px;
    }
    .text-custom-2xl{
        font-size: 22px;
    }
    .text-custom-3xl{
        font-size: 24px;
    }
    .text-custom-4xl{
        font-size: 26px;
    }
    .text-custom-5xl{
        font-size: 28px;
    }
    .text-custom-6xl{
        font-size: 30px;
    }
    .text-custom-7xl{
        font-size: 32px;
    }
    .text-custom-8xl{
        font-size: 34px;
    }
    .text-custom-9xl{
        font-size: 36px;
    }
    .text-custom-10xl{
        font-size: 38px;
    }
    .text-custom-xxl{
        font-size: 40px;
    }
    .text-custom-2xxl{
        font-size: 42px;
    }
}

@media (max-width: 800px) {
    .text-custom-xxs{
        font-size: 8px;
    }
    .text-custom-xs{
        font-size: 10px;
    }
    .text-custom-sm{
        font-size: 12px;
    }
    .text-custom-base{
        font-size: 14px;
    }
    .text-custom-lg{
        font-size: 16px;
    }
    .text-custom-xl{
        font-size: 18px;
    }
    .text-custom-2xl{
        font-size: 20px;
    }
    .text-custom-3xl{
        font-size: 22px;
    }
    .text-custom-4xl{
        font-size: 24px;
    }
    .text-custom-5xl{
        font-size: 26px;
    }
    .text-custom-6xl{
        font-size: 28px;
    }
    .text-custom-7xl{
        font-size: 30px;
    }
    .text-custom-8xl{
        font-size: 32px;
    }
    .text-custom-9xl{
        font-size: 34px;
    }
    .text-custom-10xl{
        font-size: 36px;
    }
    .text-custom-xxl{
        font-size: 38px;
    }
    .text-custom-2xxl{
        font-size: 40px;
    }
}

@media (max-width: 576px) {
    .text-custom-xxs{
        font-size: 8px;
    }
    .text-custom-xs{
        font-size: 9px;
    }
    .text-custom-sm{
        font-size: 10.5px;
    }
    .text-custom-base{
        font-size: 12px;
    }
    .text-custom-lg{
        font-size: 15px;
    }
    .text-custom-xl{
        font-size: 17px;
    }
    .text-custom-2xl{
        font-size: 19px;
    }
    .text-custom-3xl{
        font-size: 21px;
    }
    .text-custom-4xl{
        font-size: 23px;
    }
    .text-custom-5xl{
        font-size: 25px;
    }
    .text-custom-6xl{
        font-size: 27px;
    }
    .text-custom-7xl{
        font-size: 29px;
    }
    .text-custom-8xl{
        font-size: 31px;
    }
    .text-custom-9xl{
        font-size: 33px;
    }
    .text-custom-10xl{
        font-size: 27px;
    }
    .text-custom-xxl{
        font-size: 32px;
    }
    .text-custom-2xxl{
        font-size: 34px;
    }
}
