/* Here there is all the css, effects and animations that can be used by anyview or anycomponent */

/* COLORS */
/* All the colors are advisable to be worked from the tailwind.js */
/* main=#14d28c */

/* BUTTONS */
button {
  letter-spacing: 0.05em;
}

button:focus {
  outline: none;
}