<template>
  <div
    :style="`background-image: url('/bg-circuits.png');`"
    class="bg-principal h-screen w-full flex flex-row justify-center items-center text-white tracking-wide"
  >
    Working on it ...
  </div>
</template>
