<template>
  <div class="w-screen h-screen overflow-hidden font-gotham" style="background-color: #000000;">
    <!-- THE NAVEGATION BAR USED TO GO THROUGH COMPONENTS -->
    <NavBar />
    <!-- FOOTER THAT DOESN'T APPEAR IN CONTACT'S COMPONENT -->
    <Footer />
    <!-- IT CALLS INDEX.VUE INSIDE THE PAGES FOLDER -->
    <nuxt />
  </div>
</template>

<script>
// import NavBar from '~/components/NavBar.vue'
import NavBar from '~/components/general/NavBar.vue'
import Footer from '~/components/general/Footer.vue'
export default {
  components: {
    // NavBar,
    NavBar,
    Footer
  },
  data() {
    return {}
  },
  methods: {}
}
</script>

<style>
html {
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0.2;
}
</style>
