<template>
  <div class="w-full bg-grey flex items-center justify-center h-full">
    <div class="text-center" style="width: 320px">
      <h2
        class="font-bold mb-2"
      >
        RANDOM PLANNER
      </h2>
      <div class="bg-white rounded-lg p-6 text-center mb-3">
        <h4 class="uppercase mb-3">
          Prodequians
        </h4>
        <div class="">
          <div
            v-for="(item, i) in members"
            :key="i"
            class="flex w-full my-1"
          >
            <div class="w-1/2 text-left">
              {{ item.user }}
            </div>
            <div class="w-1/2 flex items-stretch justify-end">
              <span class="mr-2">
                <img src="https://cdn2.iconfinder.com/data/icons/food-restaurant-1/128/flat-15-512.png" width="25" alt="">
              </span>
              <input id="scales" v-model="item.go" type="checkbox" name="scales">
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-green p-4 flex items-center justify-center rounded-lg mb-2 cursor-pointer"
        @click="calculate"
      >
        Calculate
      </div>
      <span class="font-bold">
        The chosen one is:
      </span>  {{ who }}
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      who: '',
      members: [
        {
          user: 'Oscar',
          go: false
        },
        {
          user: 'Camilo',
          go: false
        },
        {
          user: 'Raul',
          go: false
        },
        {
          user: 'Kevin M.',
          go: false
        },
        {
          user: 'Claudia',
          go: false
        },
        {
          user: 'Lucero',
          go: false
        },
        {
          user: 'Kevin Y.',
          go: false
        },
        {
          user: 'Catherine',
          go: false
        }
      ]
    }
  },
  methods: {
    async calculate() {
      this.who = '...'
      var filtered = this.members.filter(member => member.go === true)
      if (filtered.length > 1) {
        await wait(2000)
        var index = Math.floor(Math.random() * filtered.length)
        this.who = filtered[index].user
      } else {
        this.who = "Don't be joking. Chose at least two prodequians"
      }
    }
  }
}
function wait(n) {
  return new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve()
    }, n)
  })
}
</script>
