<template>
  <div
    :style="`background-image: url('/bg-circuits.png');`"
    class="bg-principal h-screen w-full flex flex-row justify-start items-center tracking-wide"
  >
    <div class="gradient md:w-1/2 w-full p-10 xl:rounded-r-lg">
      <div class="md:text-left text-center text-main font-bold text-2xl md:text-5xl sm:text-4xl uppercase mb-2">
        <p>Web UX Template</p>
      </div>
      <div class="md:text-left text-center text-white text-lg md:text-3xl sm:text-2xl text-base mb-4">
        <p>Subtitle of the Template</p>
      </div>
      <div class="w-full md:block flex md:justify-start justify-center items-center">
        <button
          class="bg-transparent hover:text-white hover:border-white text-main border-main border font-bold py-4 px-6 uppercase rounded"
          @click="$router.push('/nosotros')"
        >
          Button
        </button>
      </div>
    </div>
    <div class="sm:w-1/2 w-full h-full items-center md:flex hidden justify-center">
      <img
        src="/darky.png"
        alt=""
        class="mirror"
        style="max-height: 70%"
      >
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  data() {
    return {}
  },
  methods: {}
}
</script>

<style>
/* USED IN MENU ICON */
.bar {
  border-radius: 10px;
  width: 30px;
  height: 5px;
  background-color: black;
}
/* BACKGROUND FOR THE MAIN PORTRAIT */
.bg-principal {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.gradient {
  background: rgba(255, 255, 255, 0);
}

.mirror {
  -webkit-box-reflect: below -80px -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(rgba(255, 255, 255, 0.25))
    ) !important;
}
</style>
