<template>
  <div
    :style="`background-image: url('/bg-circuits.png');`"
    class="bg-principal h-screen w-full flex flex-row justify-center items-center tracking-wide"
  >
    <transition name="fade" mode="out-in">
      <Modal
        v-if="modal"
        @closeModal="modal = $event"
      >
        <div class="text-white w-128 h-128 bg-green rounded-full flex items-center justify-center relative">
          <div class="absolute pin-t pin-r cursor-pointer bg-white w-10 h-10 text-black flex items-center justify-center text-custom-2xl rounded-full" @click="modal=false">
            &times;
          </div>
          YOUR CONTENT
        </div>
      </Modal>
    </transition>

    <button class="bg-main text-black font-bold p-3 text-custom-xl rounded-lg cursor-pointer" @click="modal = true">
      ABRIR MODAL
    </button>
  </div>
</template>

<script type="text/javascript">
import Modal from '~/components/general/Modal.vue'
export default {
  components: {
    Modal
  },
  data() {
    return {
      modal: false
    }
  },
  methods: {
    // WRITE YOUR METHODS HERE
  }
}
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
