<template>
  <div class="z-10 absolute w-64 flex flex-col justify-start items-center pin-b pin-l footer-form tracking-wide lg:mb-8 xl:mb-10 lg:ml-12 xl:ml-16">
    <!-- Social Networks -->
    <div class="flex flex-col w-full justify-start items-start mb-4">
      <div v-for="(item,i) in items" :key="i" class="my-1">
        <a :href="item.ref">
          <img :src="item.showIcon" alt="" class="cursor-pointer lg:w-8 xl:w-10">
        </a>
      </div>
    </div>

    <div class="flex justify-start items-center w-full">
      <div class="font-bold text-white">
        <p
          class="text-base xl:text-lg"
          style="user-select: none;"
        >
          Powered by
        </p>
      </div>
      <div class="pl-1">
        <a
          href="https://prodequa.com/"
          class="no-underline text-white text-base xl:text-lg"
        >
          Prodequa&reg;
        </a>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  data() {
    return {
      // CHANGE THIS PART TO ADD MORE ICON TO THE FOOTER
      items: [
        {
          showIcon: 'http://m.msmperu.com/images/icons/whatsapp_blanco.png',
          ref: ''
        },
        {
          showIcon: 'http://m.msmperu.com/images/icons/linkedin_blanco.png',
          ref: ''
        }
      ]
    }
  }
}
</script>

<style>
.footer-form {
  border-top-right-radius: 20px;
  background: rgba(255, 255, 255, 0);
}
</style>
