<template lang="html">
  <div ref="container">
    <div class="absolute flex pin justify-center items-center h-screen w-screen p-4 z-max" style="background: rgba(0, 0, 0, 0.5) " @click.self="closeModal">
      <slot/>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    closeModal() {
      this.$emit('closeModal', false)
    }
  }
}
</script>

<style lang="css">
</style>
