<template>
  <div class="z-10 w-full pin-t">
    <div class="absolute z-30 lg:shadow-none shadow-lg lg:bg-transparent bg-black w-full lg:h-28 xl:h-32 h-16 bg-nav-bar flex flex-row justify-between items-start p-1">
      <div
        class="overflow-hidden h-full lg:mx-8 xl:mx-10"
        style="width: 300px;"
      >
        <div
          class="h-full flex items-center justify-center"
        >
          <img
            src="/logo.png"
            class="cursor-pointer"
            style="user-select: none; max-width: 100%; max-height: 100%;"
            @click="goToView('/')"
          >
        </div>
      </div>
      <div class="flex justify-end items-center p-2 w-full h-full tracking-wide">
        <div class="lg:block hidden h-full">
          <div class="flex justify-between items-center font-bold w-full h-full">
            <div v-for="(item,i) in menurfiltered" :key="i" class="flex justify-left items-center lg:mx-8 xl:mx-10 h-full">
              <div
                class=""
                @mouseover="mouseOver(i)"
                @mouseleave="mouseOut"
              >
                <div
                  class="flex flex-col items-center menu-option text-white text-left text-custom-sm"
                >
                  <div
                    class="cursor-pointer uppercase"
                    style="user-select: none;"
                    @click="goToView(item.ref)"
                    v-html="item.title"
                  />
                  <div
                    :class="($route.path === item.ref || parent(item.ref, item.children)) && 'underbar-active'"
                    class="underbar cursor-pointer"
                  />
                </div>
                <!-- CHILDS OF THE OPTION -->
                <div
                  v-if="item.children.length > 0 && childActive === i && item.enablechildren"
                  class="fixed flex flex-col justify-center items-start"
                >
                  <div v-for="(child,j) in item.children" :key="j" class="cursor-pointer" @click="goToView(child.ref)">
                    <div class="flex justify-start items-start cursor-pointer text-left h-full w-full">
                      <div class="menu-option h-full p-3">
                        <span class="cursor-pointer h-ful w-full text-white text-custom-xs text-left" style="user-select: none;">
                          {{ child.title }}
                        </span>
                        <div
                          :class="($route.path === child.ref) && 'underbar-active'"
                          class="underbar cursor-pointer"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MENU ICON, ALWAYS TOGETHER -->
        <div class="cursor-pointer lg:hidden" @click="offcanvas=!offcanvas">
          <div class="pb-1">
            <div class="bar" />
          </div>
          <div class="pb-1">
            <div class="bar" />
          </div>
          <div class="pb-1">
            <div class="bar" />
          </div>
        </div>
        <!-- END MENU ICON -->
      </div>
    </div>
    <!-- MODAL COMPONENT WITH MENU INSIDE -->
    <transition name="fade" mode="out-in">
      <div
        v-if="offcanvas"
        class="absolute z-30 h-screen w-full overflow-hidden bg-modal"
        @click="offcanvas = false"
      />
    </transition>
    <transition name="offcanvas" mode="out-in">
      <div v-if="offcanvas" class="fixed z-50 h-screen w-auto pin-r overflow-hidden flex justify-end items-end">
        <div class="bg-black w-64 h-full flex flex-col justify-center items-center border-l border-main">
          <div class="fixed w-full h-16 bg-transparent flex justify-end items-center p-2 pin-t pin-r">
            <div class="p-1">
              <!-- MENU ICON, ALWAYS TOGETHER -->
              <div class="cursor-pointer" @click="offcanvas=!offcanvas">
                <div class="pb-1">
                  <div class="bar" />
                </div>
                <div class="pb-1">
                  <div class="bar" />
                </div>
                <div class="pb-1">
                  <div class="bar" />
                </div>
              </div>
              <!-- END MENU ICON -->
            </div>
          </div>
          <div v-for="(item,i) in menu" :key="i" class="flex flex-col justify-start items-start text-custom-base text-white tracking-wide w-full font-bold">
            <!-- MENU OPTION  -->
            <div
              v-if="item.ref === '/'"
              :class="$route.path === '/' && 'bg-main'"
              class="flex justify-start items-start cursor-pointer w-full"
            >
              <span
                class="cursor-pointer w-full px-6 py-4 uppercase"
                @click="goToView(item.ref), childActive = i"
                v-html="item.title"
              />
            </div>
            <div
              v-else
              :class="($route.path === item.ref || parent(item.ref, item.children)) && 'bg-main'"
              class="flex justify-start items-start cursor-pointer w-full"
            >
              <span
                class="cursor-pointer w-full px-6 py-4 uppercase"
                @click="goToView(item.ref), childActive = i"
                v-html="item.title"
              />
            </div>
            <!-- LIST OF CHILDS OF THE MENU OPTION -->
            <div class="w-full">
              <transition name="offcanvas" mode="out-in">
                <ul v-if="item.children.length > 0 && childActive === i && item.enablechildren" class="w-full" style="transition: all 0.5s">
                  <li v-for="(child,j) in item.children" :key="j" class="flex  justify-start items-start w-full">
                    <nuxt-link class="flex justify-start items-start cursor-pointer text-left h-ful w-full" :to="child.ref">
                      <div class="menu-option-y w-ful h-full p-3">
                        <span class="cursor-pointer h-full w-full py-3 text-custom-sm" @click="goToView(child.ref)">
                          {{ child.title }}
                        </span>
                        <div
                          :class="($route.path === child.ref) && 'underbar-active'"
                          class="underbar cursor-pointer"
                        />
                      </div>
                    </nuxt-link>
                  </li>
                </ul>
              </transition>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <!-- END MODAL -->
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      childActive: null,
      offcanvas: false
    }
  },
  computed: {
    ...mapState({
      menu: s => s.navbar.menu
    }),
    menurfiltered() {
      return this.menu.filter(n => n.ref !== '/')
    }
  },
  methods: {
    goToView(url) {
      if (url) {
        // this.child = false
        this.$router.push(url)
        this.offcanvas = false
      }
    },
    parent(urlparent, children) {
      if (urlparent) {
        if (this.$route.path.includes(urlparent)) {
          return true
        }
      }
      if (children) {
        for (var i = 0; i < children.length; i++) {
          if (this.$route.path === children[i].ref) {
            return true
          }
        }
      }
      return false
    },
    mouseOver(i) {
      this.childActive = i
    },
    mouseOut() {
      this.childActive = null
    }
  }
}
</script>

<style scoped>
.bar {
  border-radius: 10px;
  width: 30px;
  height: 5px;
  background-color: white;
}
.bg-modal {
  background-color: #000000a0;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: auto;
}
.underbar {
  width: 0%;
  height: 2px;
  background-color: #14d28c;
  transition: width 0.5s;
}
.underbar-y {
  width: 0%;
  height: 2px;
  background-color: #14d28c;
  transition: width 0.5s;
}
.menu-option:hover .underbar {
  width: 100%;
}
.menu-option-y:hover .underbar-y {
  width: 100%;
}
.underbar-active {
  width: 100%;
  height: 2px;
  background-color: #14d28c;
}
.underbar-y-active {
  width: 100%;
  height: 2px;
  background-color: #14d28c;
}
@media screen and (max-width: 1200px) {
  .bg-nav-bar {
    /* background-color: #14d28c; */
    border-bottom-width: 2px;
    border-bottom-color: #000000bd;
  }
}
.offcanvas-enter-active {
  transition: transform 0.5s;
  opacity: 1;
  transform: translate(0);
}
.offcanvas-leave-active {
  transition: transform 0.5s;
  opacity: 1;
  transform: translate(0);
}
.offcanvas-enter {
  transform: translate(100%);
  opacity: 0.8;
}
.offcanvas-leave-to {
  transform: translate(100%);
  opacity: 0.8;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.btn-black-darker {
  background-color: #00000055;
}
</style>
